input[type="checkbox"]{
    display: none;
}

nav{
    background-color: rgba(16,16,16,.5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: fixed;
    transition: all .5s;
    z-index: 1;
    
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateX(350px);
}

nav ul {
    top: 70px;
    position: absolute;
    width: 100%;
    list-style: none;
}

nav li{
    font-size: 2vw;
}
nav a{
    color: white;
    display: block;
    padding: 20px 5px;
    text-decoration: none;
    text-align: center;
    
}

a:hover{
    background-color: fuchsia;
    
}

label{
    padding: 15px;
    position: fixed;
    z-index: 2;
}

