.conteudo {
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin: 1% 10%;
    padding: 3%;
    text-align: center;
}

/* Style the tab */
.abas {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons that are used to open the tab content */
    .abas button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 16px 20px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .abas button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .abas button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.conteudoAba {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.bloco {
    position: relative;
    background-color: black;
    width: 70%;
    display: inline-block;
    margin: 2%;
    border-radius: 20px;
    filter: drop-shadow(8px 8px 10px grey);
}

    .bloco:hover .overlay {
        opacity: 0.9;
        filter: drop-shadow(8px 8px 10px magenta);
    }

    .bloco a{
        display: block;
    }
.conteudo img {
    border-radius: 20px;
    width: 100%;
    
}


.overlay {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-radius: 20px;
}

    .overlay p{
        color: magenta;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }