* {
    padding: 0px;
    margin: 0px;
    font-family: 'Mali', cursive;
    color: magenta;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
    background-color: magenta;
}
h1{
    font-size: 3vw;
}
h2{
    font-size: 2vw;
    text-decoration: underline;
}
h3{
    font-size: 1.5vw;
}

li,p{
    color: black;
    font-size: 1.5vw;
}

body {
    
    background-image: url("../img/background.jpg");
    
}


