.cabecalho img{
    border-radius: 50%;
    width: 50%;
    border: solid;
}

.cabecalho{
   text-align: center;
   padding: 10% 30%;
   position: absolute;
   z-index: -1;
}

.introducao {
    height: 100%;
    padding: 25% 5% 10% 5%;
    width: 70%;
    border-radius: 20px;
    background-color: white;
    position: relative;
    z-index: -2;
    margin: 10%;
    
}

